<div class="tab active" id="tab-advanced" style="display: block; ">

  <div class="section" id="section-advanced-css" style="width:100%;">
    <div class="section-header">
      <h6 class="title">Custom Css</h6>
    </div>
    <div class="section-body">
      <pre id="custom_css" class="small_editor">p { color: red; }</pre>
    </div>
  </div>
</div>
